<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26659620433-71i7sl75dc2b8a2u02067c47e64cjuf7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26659620433-71i7sl75dc2b8a2u02067c47e64cjuf7</string>
	<key>API_KEY</key>
	<string>AIzaSyDApufmy_gS1dbvRFyN0khrzHecCJHllHw</string>
	<key>GCM_SENDER_ID</key>
	<string>26659620433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cognome.safecheckiosnative</string>
	<key>PROJECT_ID</key>
	<string>globaltokenregistration</string>
	<key>STORAGE_BUCKET</key>
	<string>globaltokenregistration.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26659620433:ios:53c70e2923d52eb25f5a70</string>
</dict>
</plist>